<div>
  You can reset your password by visiting the url below:
</div>
<div>
  <a href="<%= @url %>" target="_blank"><%= @url %></a>
</div>
<br/>
<div>
  If you didn't request this change, please ignore this.
</div>
