<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "OptionsTracker", suffix: " · Options Tracker" %>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
  </head>
  <body class="">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/options-tracker.png">
        </a>
        <%= if @current_user do %>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        <% end %>
      </div>

      <%= if @current_user do %>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link "Positions", to: Routes.position_index_path(@conn, :index), class: "navbar-item" %>

            <%= link "Metrics", to: Routes.statistics_index_path(@conn, :index), class: "navbar-item" %>

            <%= link "Shares", to: Routes.share_index_path(@conn, :index), class: "navbar-item" %>

            <%= if @current_user.admin? do %>
              <%= link "Dashboard", to: Routes.live_dashboard_path(@conn, :home), class: "navbar-item" %>
              <%= link "Errors", to: "/admin/errors", class: "navbar-item" %>
              <%= link "Feedback", to: Routes.feedback_index_path(@conn, :index), class: "navbar-item" %>
            <% end %>
          </div>
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Settings <%= @current_user.email %>
              </a>
              <div class="navbar-dropdown is-right">
                <%= link "Accounts", to: Routes.account_index_path(@conn, :index), class: "navbar-item" %>
                <hr class="navbar-divider">
                <%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "navbar-item" %>
              </div>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <%= link "Sign out", to: Routes.user_session_path(@conn, :delete), class: "button", method: :delete %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </nav>
    <section class="section" style="min-height: 81vh;">
      <%= @inner_content %>
    </section>
    <%= render "footer.html" %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-63536d50e3e5df98"></script>
  </body>
</html>
