/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

$primary: #45EE97;
$green: #48C700;
@import "bulma";
@import "../node_modules/@creativebulma/bulma-tooltip";
@import "../node_modules/bulma-divider";


@import "./position.scss";
@import "./feedback.scss";

.modal-card.wide {
  width: 80vw;
}

.has-pointer {
  cursor: pointer;
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

@for $i from 1 through 7 {
  .mh-#{$i} {
    min-height: #{$i}rem !important;
  }
}

@for $i from 1 through 7 {
  .mw-#{$i} {
    min-width: #{$i}rem !important;
  }
}

@media (max-width: $tablet) {
  .navbar-link {
    color: black;
  }

  .navbar-burger:hover {
    background-color: $primary
  }

  .modal-card {
    overflow-y: scroll !important;
  }
  .modal-card-body {
    overflow-x: hidden !important;
  }
}

.navbar-item img {
  max-height: 3rem;
}
.navbar {
  background-color: $primary;
}
a.navbar-item:hover, a.navbar-link:hover, a.navbar-item:focus, a.navbar-link:focus {
  color: $white;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: $grey;
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

html {
  overflow-x: scroll !important;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.main {
  min-height: 90vh;
}

.feedback-container {
  position: fixed;
  top: 4.5rem;
  right: 0.5rem;
  text-align: left;
  background: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  border-radius: 0.5rem;
}