#position_stock.input { 
    text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
#positions input.is-small {
    min-width: 60px;
    max-width: 95px;
}

#positions tr {
    cursor: pointer;

    &.notes {
        display: none;

        &.show {
            display: table-row;
        }
    }
}

#positions-mobile {
    .notes {
        display: none;

        &.show {
            display: block;
        }
    }
}

#positions input.input-super-small, #positions-mobile input.input-super-small {
    width: 60px;
}

#positions-mobile {
    input#position_stock_mobile {
        width: 100px;
    }
    input#position_strike {
        width: 100%;
    }
    select#position_type {
        width: 100%;
    }
    .tags .tag {
        margin-top: 5px;
    }
    .ticker-container {
        min-width: 70px;
    }
    select#position_status {
        width: 100%;
    }
}

.section {
    @include mobile;
    padding: 2rem 0.75rem !important;
}

#positions input.date {
    min-width: 130px;
    font-size: 0.7rem;
}

#positions-table th, #positions-table td {
    padding-left: 1px;
    padding-right: 1px;
}

// #positions span.tag.short:focus-within {
//     border: 1px solid black;
// }

// #positions span.tag.long:focus-within {
//     border: 1px solid black;
// }