<section class="hero is-primary is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Options Tracker
      </h1>
      <h2 class="subtitle">
        Keeping track of your options
      </h2>
    </div>
  </div>
</section>
